
<div>
    <form [formGroup]="passwordResetForm" fxLayout="column" (submit)="submit()" class="passwordResetForm">
    <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
    <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
    </mat-form-field>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
    <button mat-flat-button color="primary">Ustaw nowe haslo</button>
    </form>
</div>