<div>
    <form [formGroup]="passwordLostForm" fxLayout="column" (submit)="submit()" class="passwordLostForm">
        <div *ngIf="valid" class="error">Na podany email został wysłany link do resetowania hasła.</div>
        <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" placeholder="Podaj swój email">
        </mat-form-field>
        <button mat-flat-button color="primary">Zresetuj hasło</button>
    </form>
</div>